html,
body {
    margin: 0;
    font-size: 16px;
    background: #fafafa;
    font-family: var(--font-sans);

    --font-sans: 'Inter', 'Helvetica Neue', system-ui, 'Helvetica', 'Arial', sans-serif;
    --lc-padding: .25em .6em;
    --background: #fafafa;
    --background-transparent: rgba(250, 250, 250, 0);
    --foreground-light: #888;
    --background-light: #a9a9a9;
    --highlight: rgba(0, 0, 0, .1);
    --shade: rgba(0, 0, 0, .25);

    /* twitter UI colors */
    --tw-re: rgb(29, 161, 242);
    --tw-rt: rgb(23, 191, 99);
    --tw-fav: rgb(224, 36, 94);
}

button,
input,
textarea {
    font-size: 1em;
    font-family: var(--font-sans);
    background: var(--background);
}

.mobile {
    display: none;
}

.bordered {
    border: 1px solid #000;
}

.solid {
    color: #fff;
    background: #000;
    border: 0;
    padding: var(--lc-padding);
}

button.solid:hover {
    cursor: pointer;
    background: var(--foreground-light);
}

.app {
    margin: 1em auto;
    max-width: 800px;
    width: calc(100% - 2em);
    height: calc(100vh - 2em);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.queryBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 20;
}

.queryBar .helper {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    padding: var(--lc-padding);
    background: var(--background);
    box-sizing: border-box;
    border-top: 0;
    z-index: 100;
}

.queryBar .syntaxLine {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 1.5em;
}

.queryBar .syntaxHint,
.queryBar .syntaxAction {
    width: 50%;
}

.queryBar .syntaxAction {
    color: var(--foreground-light);
}

.queryBar-shade {
    opacity: 0;
    background: var(--shade);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: opacity .2s;
    pointer-events: none;
}

.queryBar-input:focus ~.queryBar-shade {
    opacity: 1;
    pointer-events: all;
}

.queryBar-input:focus ~ .helper {
    display: block;
}

.queryBar-input {
    padding: var(--lc-padding);
    flex-shrink: 1;
    flex-grow: 1;
    width: 0;
}

.queryBar-logo,
.queryBar-input,
.queryBar-button {
    box-sizing: border-box;
    line-height: 1.5em;
    height: 2em;
}

.queryBar-logo,
.queryBar-button {
    font-weight: bold;
}

a.queryBar-logo {
    text-decoration: none;
}

.sections {
    position: relative;

    flex-grow: 1;
    flex-shrink: 1;
    height: 0;
    width: 100%;
}

.sidebar,
.timeline,
.stats {
    height: 100%;
}

.timeline {
    border-top: 0;
    line-height: 1.5em;
    overflow-y: auto;
}

.tweetListLoadMore {
    border: 0;
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    height: 6em;
    width: 100%;
    background: transparent;
}

.tweetListLoadMore:hover {
    text-decoration: underline;
}

.tweetList {
    padding-top: .5em;
}

.tweetItem {
    padding: var(--lc-padding);
    display: flex;
    flex-direction: row;
}

.userPopupDescription a,
.tweetItem .tweetBody  > a,
.tweetTrendText a {
    background: var(--highlight);
    padding: 0 .3em;
    color: #000;
    text-decoration: none;
}

.tweetItem .tweetItem {
    padding-left: 0;
}

.tweetItem .tweetMeta {
    flex-shrink: 0;
    flex-grow: 0;
    width: 2.5em;
    text-align: right;
    color: var(--foreground-light);
    font-size: .8em;
}

.tweetItem .tweetMeta a.dateLink {
    color: inherit;
    text-decoration: none;
}

.tweetItem .tweetMeta a.dateLink:hover {
    text-decoration: underline;
}

.tweetItem .tweetMain {
    width: 0;
    flex-shrink: 1;
    flex-grow: 1;
    margin-left: .5em;
}

.tweetItem .tweetBody {
    white-space: pre-line;
    word-break: break-word;
}

.tweetItem .tweetUserMention {
    position: relative;
    cursor: pointer;
}

.UserPopup {
    cursor: initial;
    position: absolute;
    left: 0;
    bottom: 100%;
    background: var(--background);
    box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
    width: 300px;
    font-weight: normal;
    font-size: .8em;
    line-height: 1.4em;
    word-break: break-word;
    transition: opacity .2s, transform .2s;
    pointer-events: none;
    opacity: 0;
    transform: translateY(4px);
}

.tweetUserMention:hover .UserPopup {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
}

.UserPopup .userPopupHeader {
    padding: var(--lc-padding);
    overflow: hidden;
    padding: .5rem;
    border-bottom: 1px solid #000;
    line-height: 1.5em;
}

.UserPopup a.nameLink {
    text-decoration: none;
    color: inherit;
}

.UserPopup a.nameLink:hover {
    text-decoration: underline;
}

.UserPopup .userPopupURL a {
    color: inherit;
}

.UserPopup .profileImg {
    border-radius: 50%;
    float: left;
    margin-right: .5em;
}

.UserPopup .name {
    font-weight: bold;
}

.UserPopup .location {
    color: var(--background-light);
}

.UserPopup .userPopupDescription {
    padding: var(--lc-padding);
    padding-top: .5rem;
}

.UserPopup .userPopupFilters {
    padding: var(--lc-padding);
}

.UserPopup .userPopupFilter {
    border: 0;
    background: transparent;
    display: inline;
    padding: 0;
    cursor: pointer;
}

.UserPopup .userPopupFilter:hover {
    text-decoration: underline;
}

.UserPopup .userPopupStats {
    padding: var(--lc-padding);
}

.tweetMedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
}

.tweetImg {
    max-height: 120px;
    max-width: 300px;
    margin: .25em .5em .25em 0;
    cursor: pointer;
}

.tweetImg:hover {
    opacity: .8;
}

.tweetImgPreview {
    display: block;
}

.tweetStats {
    color: var(--foreground-light);
    font-size: .8em;
}

.tweetStats .tweetConversation {
    border: 0;
    color: var(--foreground-light);
    display: inline;
    cursor: pointer;
    padding: 0;
}

.tweetStats .selfRetweeted {
    color: var(--tw-rt);
}
.tweetStats .selfFavorited {
    color: var(--tw-fav);
}

.tweetStats .tweetConversation:hover {
    text-decoration: underline;
    color: var(--tw-re);
}

.sidebar,
.stats {
    position: absolute;
    top: -1px;
    width: calc(50vw - 400px - .5em);
    max-width: 360px;
}

.sidebar {
    border-top: 1px solid #000;
    right: 100%;
    height: 100%;
    overflow-y: auto;
}

.stats {
    left: 100%;
    height: calc(100% + 1em);
    top: -1em;
    overflow-y: auto;
    padding-top: 1em;
    box-sizing: border-box;
}

.channelItem {
    padding: var(--lc-padding);
    cursor: pointer;
    position: relative;
}

.channelItem:not(.editing):hover {
    background: var(--highlight);
}

.channelItem.pseudoChannel {
    color: var(--foreground-light);
}

.channelItem .channelButtons {
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--lc-padding);
}

.channelItem:hover .channelButtons {
    display: block;
    padding-left: .25em;
}

.channelItem .channelButton {
    border: 0;
    background: 0;
    cursor: pointer;
    padding: 0 .25em;
    color: inherit;
}

.channelItem .channelButton:hover {
    color: var(--foreground-light);
}

.channelItem .shortcutNumber {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--lc-padding);
    color: var(--foreground-light);
}

.channelItem.solid:hover {
    background: var(--foreground-light);
}

.channelItem.solid .shortcutNumber {
    color: inherit;
}

.channelItem:hover .shortcutNumber {
    display: none;
}

.channelItem.editing {
    padding: 0;
}

.channelItem .channelInput {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.channelItem .channelInput input {
    width: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: var(--lc-padding);
    background: 0;
    color: inherit;
}

.channelItem .channelInput .channelButton {
    padding: var(--lc-padding);
    flex-grow: 0;
    flex-shrink: 0;
}

.trends,
.fans {
    position: relative;
    border-top: 1px solid #000;
    min-height: 5em;
}

.trendsTitle,
.fansTitle {
    background: var(--background);
    padding: var(--lc-padding);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.trends {
    padding: .6em 0;
}

.tweetTrend {
    width: 100%;
    font-size: .8em;
    padding: var(--lc-padding);
    padding-bottom: 1rem;
    box-sizing: border-box;
}

.trendMain {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.tweetTrendText {
    word-break: break-word;
    max-height: 3em;
    overflow: hidden;
    position: relative;
    margin-right: 6px;
    flex-grow: 1;
    flex-shrink: 1;
    width: 0;
}

.tweetTrendText .date {
    color: var(--foreground-light);
}

.tweetTrendText::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 1em);
    background: linear-gradient(to bottom, var(--background-transparent), var(--background));
}

.publicMetrics {
    text-align: right;
    width: 8em;
}

.organicMetrics {
    overflow: hidden;
}

.organicMetrics .metricRow {
    float: left;
    box-sizing: border-box;
    line-height: 1.5em;
}

.organicMetrics .metricRow.half {
    width: 50%;
}

.UserList {
    padding-top: .5em;
}

.UserItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    padding: .3em .5em;
}

.UserItem .userItemPicture img {
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    display: block;
}

.UserItem .userItemNames {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 6px;
    position: relative;
    cursor: pointer;
}

.UserItem .userItemNames .name {
    font-weight: bold;
    margin-bottom: 2px;
}

.UserItem .userItemNames .name a {
    color: inherit;
    text-decoration: none;
}

.UserItem .userItemNames .name a:hover {
    text-decoration: underline;
}

.UserItem .userItemNames .searches {
    font-size: .8em;
    color: var(--foreground-light);
    margin: 3px 0;
}

.UserItem .userItemNames .userItemFilter {
    display: inline;
    border: 0;
    background: transparent;
    cursor: pointer;
    color: inherit;
    padding: 0;
}

.UserItem .userItemNames .userItemFilter:hover {
    text-decoration: underline;
}

.UserItem .userItemNames .bio {
    font-size: .8em;
    line-height: 1.4em;
}

.UserItem .userItemStats {
    text-align: right;
    font-size: .8em;
    white-space: nowrap;
}

.modalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: var(--shade);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(100vw - 2em);
    max-height: calc(100vh - 2em);
    background: var(--background);
    display: flex;
    flex-direction: column;
}

.modalTitle {
    padding: var(--lc-padding);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.modalBody {
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.timelineLoading {
    margin: 20vh auto;
    height: 3px;
    width: 80%;
    max-width: 300px;
    position: relative;
    background: var(--highlight);
    overflow: hidden;
}

.timelineLoading.thin {
    margin: 3em auto;
}

@keyframes slider {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.timelineLoading::after {
    content: '';
    display: block;
    height: 100%;
    width: 60%;
    padding-right: 40%;
    background: #000;
    position: relative;
    top: 0;
    left: 0;
    animation: slider 1s linear infinite;
}

@media only screen and (min-width: 1301px) {
    .sidebar {
        text-align: right;
    }
}

@media only screen and (max-width: 1300px) {
    .mobile {
        display: initial;
    }
    .desktop {
        display: none;
    }

    .app {
        margin-top: .5em;
        width: calc(100% - 1em);
        height: calc(100vh - 1em);
        max-width: unset;
    }
    .sidebar,
    .stats {
        display: none;
    }

    .queryBar .syntaxLine {
        flex-direction: column;
    }
    .queryBar .syntaxHint,
    .queryBar .syntaxAction {
        width: 100%;
        box-sizing: border-box;
    }
    .queryBar .syntaxAction {
        padding-left: 1em;
    }

    .tweetImg {
        max-height: 80px;
    }
}

@media only screen and (max-width: 720px) {
    html,
    body {
        font-size: 14px;
    }
}

